.cofee__user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 168px;
}

.cofee__img{
    border-radius: 10px;
    width: 485px;
    height: 606px;
}

.cofee__info{
    width: 540px;
    // margin: 90px 0 0 125px;
}

.cofee__title{
    margin:0 0 32px 0;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 40px;
    color: #333D4B;
    margin-bottom: 32px;
}

.cofee__desc{
    margin: 0;
    font-family: "Barlow";
    line-height: 26px;
    color: #333D4B;
    opacity: 0.8;
}

@media only screen and (max-width:1315px){
    .cofee__user{
        margin-bottom: 168px;
    }

    .cofee__info{
        padding-left: 30px;
    }
}

@media only screen and (max-width:1145px){
    .cofee__user{
        margin-bottom: 256px;
    }
}

@media only screen and (max-width:960px){
    // .cofee{
    //     margin-bottom: 100px;
    // }

    // .cofee__img{
    //     padding-left: 40px;
    // }

    // .cofee__user{
    //     // padding-left: 80px;
    //     // margin: 0 auto;
    // }

    .cofee__info{
        width: 540px;
        // margin: 70px 0 0 100px;
    }
}

@media only screen and (max-width:934px){
    .cofee__info{
        width: 390px;
        // margin: 70px 0 0 100px;
    }
    .cofee__title{
        font-size: 32px;
    }
}

@media only screen and (max-width:839px){
    .cofee__img{
        width: 281px;
        height:470px;
    }

    // .cofee__info{
    //     // margin: 8px 0 0 69px;
    //     width: 339px;
    // }

    .cofee__desc{
        font-size: 15px;
        line-height: 26px;
    }
}

@media only screen and (max-width:812px){
    .cofee__desc{
        font-size: 15px;
        line-height: 25px;
    }
}

@media only screen and (max-width:769px){
    .container{
        width: 100%;
        max-width: 769px;
        margin: 0 auto;
        padding: 0 40px;
      }

    // .cofee__img{
    //     width: 281px;
    //     height:470px;
    // }

    .cofee__item{
        width: 400px;
    }

    .cofee__title{
        font-size: 32px;
    }

    .cofee__desc{
        font-size: 15px;
        line-height: 25px;
    }
}

// @media only screen and (max-width:787px){
//     // .cofee__user{
//     //     display: inline-block;
//     // }

//     .cofee__info{
//         margin: 0 auto;
//         width: 339px;
//     }

//     .cofee__img{
//         margin-bottom: 30px;
//         width: 327px;
//         height:400px;
//     }


//     .cofee__desc{
//         font-size: 15px;
//         line-height: 25px;
//     }
// }


@media only screen and (max-width:707px){
    .cofee__user{
        display: flex;
        flex-direction: column;

    }

    .cofee__info{
        margin: 0 auto;
        // width: 540px;
        text-align: center;
    }

    .cofee__img{
        margin-bottom: 30px;
        width: 327px;
        height:400px;
    }


    .cofee__desc{
        font-size: 15px;
        line-height: 25px;
    }
}


@media only screen and (max-width:667px){
    .cofee__user{
        display: flex;
        flex-direction: column;
    }

    .cofee__img{
        margin-bottom: 30px;
        width: 327px;
        height:400px;
    }

    .cofee__info{
        margin: 0 auto;
        margin-bottom: 100px;
        padding: 0 30px;
        // width: 339px;
    }
}
@media only screen and (max-width:440px){
    .container{
        width: 100%;
        max-width: 839px;
        padding: 0 24px;
    }
}
