.box{
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0;
}

.box__button{
  display: none;
  border: none;
  background-color: transparent;
}

.list{
  display: flex;
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.list__item + .list__item{
  margin-left: 30px;
}

.list__link{
  color: #83888F;
  text-decoration: none;
  font-family: "Barlow";
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

@media only screen and (max-width:728px){
  .list{
    display: none;
  }

  .box__button{
    display: block;
    padding-top: 10px;
  }
}

@media only screen and (max-width:426px){
  .box__pic{
    max-width: 163px;
  }
}