.hero{
    margin-bottom: 168px;
    background-image: url("../images/header-cofee.png");
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 137px 0;
    border-radius: 10px;
    height: 450px;
}

.hero__user{
    max-width: 445px;
    margin-right: 0 auto;
    margin-left: 85px;
}

.hero__title{
    margin:0 0 32px 0;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}


.hero__desc{
    margin: 0;
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
}

@media only screen and (max-width:945px){
    .hero{
        background-position: calc(50% + 160px) top;
        padding: 118px 0;
    }
}

@media only screen and (max-width:890px){
    .hero{
        background-position: calc(50% + 150px) top;
        padding: 118px 0;
    }
}

@media only screen and (max-width:830px){
    .hero{
        background-position: calc(50% + 120px) top;
        padding: 118px 0;
    }
}

@media only screen and (max-width:770px){
    .hero{
        background-position: calc(50% + 95px) top;
        padding: 118px 0;
    }
}

@media only screen and (max-width:728px){
    .hero{
        background-position: calc(50% + 70px) top;
        padding: 118px 0;
    }

    .hero__user{
        max-width: 398px;
        margin: 0 auto;
        margin-left: 58px;
    }

    .hero__title{
        font-size: 32px;
    }

    .hero__desc{
        font-size: 15px;
    }
}

@media only screen and (max-width:690px){
    .hero{
        background-position: calc(50% + 40px) top;
        padding: 118px 0;
    }
}

@media only screen and (max-width:625px){
    .hero{
        background-position: calc(75% + 20px) top;
        padding: 118px 0;
    }
}

@media only screen and (max-width:650px){
    .hero{
        background-position: calc(50% + 40px) top;
        padding: 118px 0;
    }
}

@media only screen and (max-width:625px){
    .hero{
        background-position: calc(50% + 20px) top;
        padding: 118px 0;
    }
}

@media only screen and (max-width:550px){

    .hero{
        background-position: calc(75% + 180px) top;
        padding: 118px 0;
    }

    .hero__user{
        margin-left: 24px;
        padding: 0 20px ;
    }
}

@media only screen and (max-width:500px){

    .hero{
        background-position: calc(75% + 165px) top;
        padding: 118px 0;
    }

    .hero__user{
        margin-left: 24px;
        padding: 0 24px ;
    }
}

@media only screen and (max-width:450px){
    .hero{
        background-position: calc(75% + 150px) top;
        padding: 118px 0;
    }

    .hero__user{
        margin: 0 auto;
    }
}

@media only screen and (max-width:426px){
    .hero{
        background-position: calc(75% + 150px) center;
        padding: 118px 0;
    }

    .hero__user{
        text-align: center;
        margin: 0 auto;
    }
}